body {
    /* margin: 0; */
    font-family: sans-serif;
  }
  
  header, footer {
    /* background-color: #ddd; */
    /* padding: 1rem; */
    text-align: center;
  }
  
  .container {
    display: flex;
    /*flex-grow: 1;*/
    /*min-height: 100vh; /* Set a minimum height for the container */
    /*padding-bottom: 60px; /* Add padding-bottom to prevent content overlap */
    /*border-bottom: 1px solid #ddd; Add a bottom border for the container */
  }
  
  .left {
    flex: 2;
    padding-left:40px;
    margin-top: 10px;
  }

  .right {
    flex: 1;
    padding: 1rem;
    /* white-space: nowrap;  /* Optional: remove if you want wrapping in the left section */
    overflow-x: auto;  /* Add horizontal overflow for the left section if needed */
    border-left: 1px solid #ddd; /* Add a left border for the right section */
  }
  
  .bottom {
    display: flex;
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

svg { /* add this to establish canvas position/size */
  position: absolute;
  top: 0;
  left: 2;
  width: 40px;
  height: 100%;
}
